#detail_btn {
    text-align:right;
}

table thead {
    background-color: #2C2C2C;
    height: 10px;
}

table{
    background-color: #2C2C2C;
    font-size: 90%;
    text-align: left;
    overflow-x: scroll;
}

/*td{
    width:100%;
    word-break:keep-all;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}*/

.selected {
    background-color: rgb(199, 199, 199) !important;
}

img {
    width: 100px;
    height: 100px;
}

#item_name{
    color: rgb(35, 151, 254);
}
#item_name a:hover{
    text-decoration: underline;
}

#wish_btn{
    background-color: white;
    height:38px;
}


.tooltip.bottom .tooltip-inner{

    max-width:310px;
    
    padding:3px 8px;
    
    color:#fff;
    
    text-align:center;
    
    background: rgb(90, 90, 90) ;
    
    border-radius:5px
}

/*.tooltip-inner{
    background: rgb(90, 90, 90) !important;
    text-align: center !important;
    color: white !important;
    max-width: 50px !important;
 }*/
.tooltip-arrow{
    border-bottom-color: black !important;
 }

.pagination a{
    border: 0px;
}
.page-item.active .page-link {
    background-color: black;
    color: white;
}
.pagination a:hover:not(.active) {
    background-color: #ddd;
}

.small {
    width: 4px;
}
.small1 {
    margin-right: 25px;
}

#prev{
    width: 130px;
}

#next{
    width: 80px;
}
 