<div class="alert alert-warning" role="alert" *ngIf="noRecord" >   
    No Records.
</div>
<div *ngIf="!noRecord" id="detail_btn_2">
    <button type="button" [ngClass]="{disabled : no_detail}" class="btn btn-light" (click)="go_to_detail()">Detail<i class="material-icons">keyboard_arrow_right</i></button>
</div>
<div *ngIf="!noRecord">
    <br>
    <table class="table table-striped table-dark table-hover table-responsive-sm">
        <thead>
            <tr style="height: 5px">
              <th scope="col" >#</th>
              <th scope="col" >Image</th>
              <th scope="col" id="item_title" style="min-width:300px">Title</th>
              <th scope="col" >Price</th>
              <th scope="col" >Shipping</th>
              <th scope="col" >Seller</th>
              <th scope="col" >Wish list</th>
            </tr>
        </thead>
        <tbody>
          <ng-template #NA>
            <td>N/A</td>
          </ng-template>
          <tr *ngFor="let item of wishJSON; index as i" [class.selected]="item.id == selected">
            <td>{{i+1}}</td>
            <td *ngIf="item.photo; else NA">
                <img src={{item.photo}}>
            </td>
            <td id="item_name">
              <a (click)="searchDetail(item.id, item.shippingInfo)" data-toggle="tooltip" data-placement="bottom" title="{{item.title}}">{{item.title | stringPipe}}</a>
            </td>
            <td *ngIf="item.cost; else NA">
                ${{item.cost}}
            </td>
            <td *ngIf="item.shiping; else NA">
                <p *ngIf="item.shiping == '0.0'; else notFree">
                  Free Shipping
                </p>
                <ng-template #notFree>
                    ${{item.shiping}}
                </ng-template>
            </td>
            <td *ngIf="item.seller; else NA">
                {{item.seller | uppercase}}
            </td>
            <td><button class="btn" id="wish_btn">
                <i class="material-icons" (click)="removeWish(item.id)" style="color: darkgoldenrod">remove_shopping_cart</i>
            </button>
            </td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>Total Shopping</td>
            <td>$ {{total | number: '1.2-2'}}</td>
          </tr>
        </tbody>
    </table>
  </div>