body {
	margin: 0 auto;
	padding: 0;
	width: 750px;
	height: 100%;
	text-align: center;
}

.container {
	perspective: 1px;
    perspective-origin: 50% 400px;
	width: 750px;
	height: 100vh;
	overflow-x: hidden;
	overflow-y: auto;
}

.parallax {
	position: absolute;
	left:0;
	right:0;
}

.background {
	transform: translateZ(-1px) scale(2);
}
.foreground {
	transform: translateZ(0px);
}

.background_up img {
	position: absolute;
	height: 700px;
	left: -155px;
	top: -170px;
    filter: brightness(90%);
}

.background_down img {
	position: absolute;
	height: 650px;
	left: -210px;
	top: 600px;
}

.top_title {
	font-family: Futura,Trebuchet MS,Arial,sans-serif; 
	text-indent: 60px;
	letter-spacing: 4px;
	font-size: 19px; 
	font-weight: 600; 
	color: #ffffff;
	float: left;
}

.top_menu {
    position: relative;
    top: 3px;
    left: -20px;
	font-family: Futura,Trebuchet MS,Arial,sans-serif; 
	letter-spacing: 1px;
	font-size: 7px; 
	font-weight: 800; 
	line-height: 50px;
	color: #ffffff;
}

.big_title {
	margin-top: 90px;
	color: #ffffff;
	font-family: Futura,Trebuchet MS,Arial,sans-serif; 
	font-size: 64px; 
	font-style: normal; 
	font-variant: normal; 
	font-weight: 550; 
	line-height: 70px;
}

.up_text {
    margin-top: 30px;
	font-family: proxima-nova, sans-serif;
	font-size: 15px; 
	font-weight: 400; 
	line-height: 24px;
	color: #ffffff;
}

.button {
	background-color: #ffffff;
	border: none;
	color: black;
	padding: 13px 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-family: Futura,Trebuchet MS,Arial,sans-serif; 
	font-size: 8px;
	letter-spacing: 1px;
	font-weight: 400; 
	margin: 4px 2px;
	cursor: pointer;
}

.four_picture {
	width: 750px;
	background-color: #ffffff;
}

#prat1 {
	margin-top: 62px;
	margin-left: 62px;
	height: 305px;
	width: 305px;
	overflow: hidden;
	background-repeat: no-repeat;
	background-position: center;
	float: left;
}

#prat1 img{
	position: relative;
	height: 305px;
	left: -75px;
}

#prat2 {
	margin-top: 62px;
	margin-left: 15px;
	height: 305px;
	width: 305px;
	overflow: hidden;
	background-repeat: no-repeat;
	background-position: center;
	float: left;
}

#prat2 img{
	position: relative;
	height: 305px;
	left: -75px;
}

#prat3 {
	margin-top: 15px;
	margin-left: 62px;
	height: 305px;
	width: 305px;
	overflow: hidden;
	background-repeat: no-repeat;
	background-position: center;
	float: left;
}

#prat3 img{
	position: relative;
	height: 305px;
	left: -77px;
}

#prat4 {
	margin-top: 15px;
	margin-left: 15px;
	height: 305px;
	width: 305px;
	overflow: hidden;
	background-repeat: no-repeat;
	background-position: center;
	float: left;
}

#prat4 img{
	position: relative;
	height: 305px;
	left: -75px;
}

#picture_text {
	font-family: proxima-nova, sans-serif;
	font-size: 9px; 
	line-height: 16px;
	color: #7A7A7A;
	position: relative;
	left: 220px;
	text-align: left;
	clear: left;
}


.down_text {
	font-family: proxima-nova, sans-serif;
	font-size: 15px; 
	line-height: 25px;
	color: #ffffff;
}
