<div *ngIf="show_shipping && show_info">
  <table class="table table-dark">
      <tbody>
          <tr *ngIf="ship.shippingServiceCost">
              <th>Shipping&nbsp;Cost</th>
              <td *ngIf="ship.shippingServiceCost[0].__value__ == '0.0'; else notFree">
                Free Shipping
              </td>
              <ng-template #notFree>
                  <td>$ {{ship.shippingServiceCost[0].__value__}}</td>
              </ng-template>
          </tr>

          <tr *ngIf="ship.shipToLocation">
              <th>Shipping&nbsp;Locations</th>
              <td>{{ship.shipToLocation[0]}}</td>
          </tr>

          <tr *ngIf="ship.handlingTime">
              <th>Handling&nbsp;time</th>
              <td *ngIf="ship.handlingTime[0] == '1' || ship.handlingTime[0] == '0'; else DAYs">
                {{ship.handlingTime[0]}} Day
              </td>
              <ng-template #DAYs>
                  <td>{{ship.handlingTime[0]}} Days</td>
              </ng-template>
          </tr>

          <tr *ngIf="ship.expeditedShipping">
              <th>Expedited&nbsp;Shipping</th>
              <td *ngIf="ship.expeditedShipping[0] == 'true'; else F">
                  <i class="material-icons">done</i>
              </td>
              <ng-template #F>
                  <td><i class="material-icons red"> clear</i></td>
              </ng-template>
          </tr>

          <tr *ngIf="ship.oneDayShippingAvailable">
              <th>One&nbsp;Day&nbsp;Shipping</th>
              <td *ngIf="ship.oneDayShippingAvailable[0] == 'true'; else F">
                  <i class="material-icons">done</i>
              </td>
              <ng-template #F>
                  <td><i class="material-icons red"> clear</i></td>
              </ng-template>
          </tr>

          <tr *ngIf="show_info && item.ReturnPolicy.ReturnsAccepted">
              <th>Return&nbsp;Accepted</th>
              <td *ngIf="item.ReturnPolicy.ReturnsAccepted == 'Returns Accepted'; else F">
                  <i class="material-icons">done</i>
              </td>
              <ng-template #F>
                  <td><i class="material-icons red"> clear</i></td>
              </ng-template>
          </tr>
      </tbody>
        
    </table>
</div>
